DATABASE_URL="file:./dev.db"

NEXTAUTH_SECRET=cambia_este_secreto_en_produccion
NEXTAUTH_URL=http://localhost:3000

# Credenciales de los 5 admins
ADMIN_1_EMAIL=socio1@websdigitales.com
ADMIN_1_PASSWORD=password_seguro_1
ADMIN_2_EMAIL=socio2@websdigitales.com
ADMIN_2_PASSWORD=password_seguro_2
ADMIN_3_EMAIL=socio3@websdigitales.com
ADMIN_3_PASSWORD=password_seguro_3
ADMIN_4_EMAIL=socio4@websdigitales.com
ADMIN_4_PASSWORD=password_seguro_4
ADMIN_5_EMAIL=socio5@websdigitales.com
ADMIN_5_PASSWORD=password_seguro_5

# Email — elegir una opción:
# Opción A: Resend
RESEND_API_KEY=re_xxxxxxxxxxxx

# Opción B: SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=contacto@websdigitales.com
SMTP_PASS=tu_contraseña_de_aplicacion

# Email destino de notificaciones
NOTIFY_EMAIL=contacto@websdigitales.com
